.noUi-horizontal .noUi-handle {
	width: 21px;
	height: 21px;
	top: -9px;
	background-color: #a1c438;
	-webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	  border-radius: 50%;
	-webkit-box-shadow: inset 0 0 0px 6px #fff, 0 3px 6px -3px #BBB;
	 -moz-box-shadow: inset 0 0 0px 6px #fff, 0 3px 6px -3px #BBB;
	  -o-box-shadow: inset 0 0 0px 6px #fff, 0 3px 6px -3px #BBB;
	   box-shadow: inset 0 0 0px 6px #fff, 0 3px 6px -3px #BBB;
}

.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
	display: none;
}

.noUi-origin {
	background: #dbdfcb;
	background: -moz-linear-gradient(top, #dbdfcb 0%, #a8cd3b 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #dbdfcb), color-stop(100%, #a8cd3b));
	background: -webkit-linear-gradient(top, #dbdfcb 0%, #a8cd3b 100%);
	background: -o-linear-gradient(top, #dbdfcb 0%, #a8cd3b 100%);
	background: -ms-linear-gradient(top, #dbdfcb 0%, #a8cd3b 100%);
	background: linear-gradient(to bottom, #dbdfcb 0%, #a8cd3b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdfcb', endColorstr='#a8cd3b', GradientType=0 );
}

.noUi-origin + .noUi-origin  {
	background: #eae9e9;
}
.noUi-base {
	background: #eae9e9;
}

#leftRangeCounter,
#rightRangeCounter  {
	position: absolute;
	padding: 2px 5px;
	text-align: center;
	color: #666;
	height: 20px;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	min-width: 44px;
	margin-top: -35px;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	  border-radius: 4px;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #f5f5f5 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f5f5f5));
	background: -webkit-linear-gradient(top, #fefefe 0%, #f5f5f5 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #f5f5f5 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #f5f5f5 100%);
	background: linear-gradient(to bottom, #fefefe 0%, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f5f5f5', GradientType=0 );
}

#leftRangeCounter:after,
#rightRangeCounter:after {
	content: '';
	position: absolute;
	bottom: -6px;
	border-top: 6px solid #c0c0c0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	left: 50%;
	margin-left: -6px;
	z-index: 1;

}

#leftRangeCounter:before,
#rightRangeCounter:before {
	content: '';
	position: absolute;
	bottom: -5px;
	border-top: 5px solid #fefefe;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	left: 50%;
	margin-left: -5px;
	z-index: 2;
}

.price_slider {
	margin-top: 40px;
}

input[name="price-max-value"],
input[name="price-min-value"] {
	display: none;
}
.block-filter li {
	padding: 0px 0 10px 0px !important;
}
.filter.filter-table {
	display: table;
	width: 100%;
}
.filter-table  .block-filter {
	display: table-cell;
	float: none;
	width: 1%;
}
.filter-table  .block-filter + .block-filter {
	padding-left: 30px;
}
.filter-table .block-filter-inner.price {
	min-width: 300px;
	width: 95%;
}
.filter-table .block-filter-inner {
	padding: 18px 0;
}
.noUi-horizontal {
	height: 7px;
}

.icheckbox_minimal, .iradio_minimal {
	margin-top: -3px !important;
}

.icheckbox_minimal,
.iradio_minimal {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(minimal.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal {
    background-position: 0 0;
}
    .icheckbox_minimal.hover {
        background-position: -20px 0;
    }
    .icheckbox_minimal.checked {
        background-position: -40px 0;
    }
    .icheckbox_minimal.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox_minimal.checked.disabled {
        background-position: -80px 0;
    }

.iradio_minimal {
    background-position: -100px 0;
}
    .iradio_minimal.hover {
        background-position: -120px 0;
    }
    .iradio_minimal.checked {
        background-position: -140px 0;
    }
    .iradio_minimal.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio_minimal.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_minimal,
    .iradio_minimal {
        background-image: url(minimal@2x.png);
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}

.block-filter.block-filter-1 {
	width: 25%;
}
.block-filter.block-filter-2 {
	width: 50%;
}
.block-filter.block-filter-2  .block-filter-inner li{
	display: inline-block;
	width: 195px;
	margin-right: -4px;
}
.block-filter.block-filter-2  .block-filter-inner li.head{
	width: 100%;
}
.block-filter.block-filter-3 {
	width: 75%;
}
.block-filter.block-filter-3  .block-filter-inner li{
	display: inline-block;
	width: 195px;
	margin-right: -4px;
}
.block-filter.block-filter-3  .block-filter-inner li.head{
	width: 100%;
}
.block-filter.block-filter-4  .block-filter-inner li{
	display: inline-block;
	width: 195px;
	margin-right: -4px;
}
.block-filter.block-filter-4  .block-filter-inner li.head{
	width: 100%;
}
.block-filter-inner li.head {
	margin-bottom :10px;
}
.block-filter.block-filter-4 {
	width: 100%;
	float: none;
}
.block-filter-inner {
	padding: 18px 0px;
}
.block-filter.block-filter-1 li , 
.block-filter.block-filter-2 li ,
.block-filter.block-filter-3 li ,
.block-filter.block-filter-4 li {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding-right: 20px !important;
          vertical-align: top;
} 

.block-filter-row {
	clear: both;
}